button {
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: black;
}

button:hover {
    background-color: #333333;
    color: #efefef;
}


.active-link {
    color: steelblue;
}



table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}


table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}


.ordinaryTr:hover {
    background-color: #e0e0e0;
}


.selectedTr {
    background-color: green;
}

.commonTr:not(.selectedTr):nth-child(even) {
    background-color: #f2f2f2;
}

.unavailableTr {
    background-color: gray;
}

/* Default button styles */
.ordinary-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .ordinary-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Responsive styles for larger screens */
@media screen and (min-width: 1200px) {
    .ordinary-button {
        padding: 12px 24px;
        font-size: 18px;
    }
}

.ordinary-button:hover {
    background-color: green;
}

.ordinary-button:disabled {
    background-color: gray;
}


.scroll-view {
    height: 300px;
    /* Adjust the height as needed (10 times the row height) */
    overflow: auto;
    border: 1px solid #ccc;
}